<!DOCTYPE html>
<html>
    <head>
        <title>RollYouBitch</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/deathRolling.css') }}">
     </head>
    <body>
        <input type = "number" id="number">
        <div class="flexbox">
            <audio id="bass" src="{{ url_for('static',filename='bass2.mp3') }}">
                you done fucked up
            </audio>
                
            <p id="result"></p>
        </div>
        <script src="{{ url_for('static', filename='javascript/deathRolling.js') }}"></script>
    </body>
</html>